In [6]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [7]:
dataset = pd.read_csv("ustsv_data_thc.csv")

df = dataset.sort_values(by='event_time',ascending=True)
df = dataset.reset_index(drop=True)
#df = df.head(200)
df.head(10)

            event_time
0  2019-12-17T00:00:44
1  2019-12-17T00:01:07
2  2019-12-17T00:01:13
3  2019-12-17T00:01:14
4  2019-12-17T00:01:14
5  2019-12-17T00:01:26
6  2019-12-17T00:01:28
7  2019-12-17T00:01:28
8  2019-12-17T00:01:31
9  2019-12-17T00:01:32

In [8]:
# Third version time = 00:00.11
def modify_event_time(df):
    start=datetime.now()
    
    event_time_lst = list(df['event_time'])
    modified_lst=[0]*len(df)
    modified_lst[0] = event_time_lst[0]
    
    for i in range(1,len(df)):
        if event_time_lst[i] <= modified_lst[i-1]:
        #if event_time_lst[i] <= event_time_lst[i-1]:  # NOT modify the duplicates, depends on what you want...
            pre_datetime = datetime.strptime( modified_lst[i-1], '%Y-%m-%dT%H:%M:%S')
            new_datetime = pre_datetime + timedelta(seconds = 1)
            modified_lst[i] = str(new_datetime).replace(" ", "T")
        else:
            modified_lst[i] = event_time_lst[i]
    df['modified_time'] = modified_lst
    
    print('Time consumed:', datetime.now()-start)
    return df



# Second version time = 00:00.13
'''
def modify_event_time(df):
    event_time_lst = list(df['event_time'])
    modified_lst=[]
    modified_lst.append(event_time_lst[0])
    for i in range(1,len(df)):
        if event_time_lst[i] <= modified_lst[i-1]:
            pre_datetime = datetime.strptime( modified_lst[i-1], '%Y-%m-%dT%H:%M:%S')
            new_datetime = pre_datetime + timedelta(seconds = 1)
            modified_lst.append(str(new_datetime).replace(" ", "T"))
        else:
            modified_lst.append(event_time_lst[i])
    df['modified_time'] = modified_lst
    return df
'''


# First version time = 01:00.15
'''
def modify_event_time(df):
    df['modified_time'] = ''
    df['modified_time'][0] = df['event_time'][0]
    for i in range(1,len(df)):
        if df['event_time'][i] <= df['modified_time'][i-1]:
            pre_datetime = datetime.strptime( df['modified_time'][i-1], '%Y-%m-%dT%H:%M:%S')
            new_datetime = pre_datetime + timedelta(seconds = 1)
            df['modified_time'][i] = str(new_datetime).replace(" ", "T")
        else:
            df['modified_time'][i] = df['event_time'][i]   
    return df
'''

# Trying to compare with 'lambda' but cannot handle it...
# ？？？ It's slower than 'for' loop when printing, or say 'similar time consumption': 6961(for) vs 7332(lambda) - 1 million rows
# HAVE NO IDEA = =...

'\ndef modify_event_time(df):\n    df[\'modified_time\'] = \'\'\n    df[\'modified_time\'][0] = df[\'event_time\'][0]\n    for i in range(1,len(df)):\n        if df[\'event_time\'][i] <= df[\'modified_time\'][i-1]:\n            pre_datetime = datetime.strptime( df[\'modified_time\'][i-1], \'%Y-%m-%dT%H:%M:%S\')\n            new_datetime = pre_datetime + timedelta(seconds = 1)\n            df[\'modified_time\'][i] = str(new_datetime).replace(" ", "T")\n        else:\n            df[\'modified_time\'][i] = df[\'event_time\'][i]   \n    return df\n'

In [9]:
modify_event_time(df)

#df.to_csv (r'modified_data.csv', index = None, header=True)

unique_value_o = df['event_time'].nunique() 

unique_value_m = df['modified_time'].nunique() 

print(unique_value_o, unique_value_m,len(df)) 

df

Time consumed: 0:00:00.113760
58104 64113 64113

                event_time        modified_time
0      2019-12-17T00:00:44  2019-12-17T00:00:44
1      2019-12-17T00:01:07  2019-12-17T00:01:07
2      2019-12-17T00:01:13  2019-12-17T00:01:13
3      2019-12-17T00:01:14  2019-12-17T00:01:14
4      2019-12-17T00:01:14  2019-12-17T00:01:15
5      2019-12-17T00:01:26  2019-12-17T00:01:26
6      2019-12-17T00:01:28  2019-12-17T00:01:28
7      2019-12-17T00:01:28  2019-12-17T00:01:29
8      2019-12-17T00:01:31  2019-12-17T00:01:31
9      2019-12-17T00:01:32  2019-12-17T00:01:32
10     2019-12-17T00:01:34  2019-12-17T00:01:34
11     2019-12-17T00:01:59  2019-12-17T00:01:59
12     2019-12-17T00:02:09  2019-12-17T00:02:09
13     2019-12-17T00:02:17  2019-12-17T00:02:17
14     2019-12-17T00:02:36  2019-12-17T00:02:36
15     2019-12-17T00:02:38  2019-12-17T00:02:38
16     2019-12-17T00:02:40  2019-12-17T00:02:40
17     2019-12-17T00:02:41  2019-12-17T00:02:41
18     2019-12-17T00:02:41  2019-12-17T00:02:42
19     2019-12-17T00:02:51  2019-12-17T00:02:51
20     2019-12-17T00:02:54  2019-12-17T00:02:54
21     2019-12-17T00:02:55  2019-12-17T00:02:55
22     2019-12-17T00:02:57  2019-12-17T00:02:57
23     2019-12-17T00:03:02  2019-12-17T00:03:02
24     2019-12-17T00:03:07  2019-12-17T00:03:07
25     2019-12-17T00:03:11  2019-12-17T00:03:11
26     2019-12-17T00:03:13  2019-12-17T00:03:13
27     2019-12-17T00:03:24  2019-12-17T00:03:24
28     2019-12-17T00:03:24  2019-12-17T00:03:25
29     2019-12-17T00:03:32  2019-12-17T00:03:32
...                    ...                  ...
64083  2019-12-24T18:01:44  2019-12-24T18:01:44
64084  2019-12-24T18:02:10  2019-12-24T18:02:10
64085  2019-12-24T18:02:15  2019-12-24T18:02:15
64086  2019-12-24T18:02:16  2019-12-24T18:02:16
64087  2019-12-24T18:02:20  2019-12-24T18:02:20
64088  2019-12-24T18:02:26  2019-12-24T18:02:26
64089  2019-12-24T18:02:26  2019-12-24T18:02:27
64090  2019-12-24T18:02:55  2019-12-24T18:02:55
64091  2019-12-24T18:03:03  2019-12-24T18:03:03
64092  2019-12-24T18:03:06  2019-12-24T18:03:06
64093  2019-12-24T18:03:23  2019-12-24T18:03:23
64094  2019-12-24T18:03:38  2019-12-24T18:03:38
64095  2019-12-24T18:03:50  2019-12-24T18:03:50
64096  2019-12-24T18:03:59  2019-12-24T18:03:59
64097  2019-12-24T18:04:02  2019-12-24T18:04:02
64098  2019-12-24T18:04:05  2019-12-24T18:04:05
64099  2019-12-24T18:04:15  2019-12-24T18:04:15
64100  2019-12-24T18:04:24  2019-12-24T18:04:24
64101  2019-12-24T18:04:36  2019-12-24T18:04:36
64102  2019-12-24T18:04:52  2019-12-24T18:04:52
64103  2019-12-24T18:05:01  2019-12-24T18:05:01
64104  2019-12-24T18:05:01  2019-12-24T18:05:02
64105  2019-12-24T18:05:05  2019-12-24T18:05:05
64106  2019-12-24T18:05:40  2019-12-24T18:05:40
64107  2019-12-24T18:05:40  2019-12-24T18:05:41
64108  2019-12-24T18:05:43  2019-12-24T18:05:43
64109  2019-12-24T18:05:47  2019-12-24T18:05:47
64110  2019-12-24T18:05:53  2019-12-24T18:05:53
64111  2019-12-24T18:06:11  2019-12-24T18:06:11
64112  2019-12-24T18:06:13  2019-12-24T18:06:13

[64113 rows x 2 columns]

In [10]:
# Testing Case in smaller modified sample

import pandas as pd
import numpy as np
from datetime import datetime, timedelta


dataset = pd.read_csv("ustsv_data_thc.csv")

df = dataset.sort_values(by='event_time',ascending=True)
df = dataset.reset_index(drop=True)

df = df.head(5000)
df['event_time'][1] = '2019-12-17T00:00:44'
df['event_time'][2] = '2019-12-17T00:00:44'
df['event_time'][3] = '2019-12-17T00:00:44'
df['event_time'][4] = '2019-12-17T00:00:45'
df['event_time'][5] = '2019-12-17T00:00:46'


def modify_event_time(df):
    event_time_lst = list(df['event_time'])
    modified_lst=[0]*len(df)
    modified_lst[0] = event_time_lst[0]
    for i in range(1,len(df)):
        if event_time_lst[i] <= modified_lst[i-1]:
        #if event_time_lst[i] <= event_time_lst[i-1]:  # NOT modify the duplicates
            pre_datetime = datetime.strptime( modified_lst[i-1], '%Y-%m-%dT%H:%M:%S')
            new_datetime = pre_datetime + timedelta(seconds = 1)
            modified_lst[i] = str(new_datetime).replace(" ", "T")
        else:
            modified_lst[i] = event_time_lst[i]
    df['modified_time'] = modified_lst
    return df


start=datetime.now()

modify_event_time(df)

print(datetime.now()-start)

df.head(10)

0:00:00.027025

            event_time        modified_time
0  2019-12-17T00:00:44  2019-12-17T00:00:44
1  2019-12-17T00:00:44  2019-12-17T00:00:45
2  2019-12-17T00:00:44  2019-12-17T00:00:46
3  2019-12-17T00:00:44  2019-12-17T00:00:47
4  2019-12-17T00:00:45  2019-12-17T00:00:48
5  2019-12-17T00:00:46  2019-12-17T00:00:49
6  2019-12-17T00:01:28  2019-12-17T00:01:28
7  2019-12-17T00:01:28  2019-12-17T00:01:29
8  2019-12-17T00:01:31  2019-12-17T00:01:31
9  2019-12-17T00:01:32  2019-12-17T00:01:32